{% extends 'base.html'%}


{% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing
     elit. Officia perferendis possimus laborum imped
     it deleniti. Placeat aspernatur sed quidem saepe,
      molestiae quam! Reiciendis est debitis eaque ess
      e id vel dolorem, labore corporis facilis velit 
      cumque at odio eveniet. Voluptatum laudantium ap
      eriam magni, iste debitis consequatur, beatae re
      pellendus excepturi dolorum iusto architecto mod
      i eveniet omnis! Autem dolor soluta alias ipsa, 
      necessitatibus ipsum debitis molestias cupiditat
      e corrupti blanditiis quisquam eligendi ad error
       odio maiores consequuntur sapiente velit tempor
       ibus perspiciatis qui laudantium, praesentium mo
       llitia! Maxime deleniti inventore voluptas magnam illum illo 
     eos! Aliquid debitis fugit molestias eius quis 
    recusandae ipsam adipisci assumenda est suscipit.</p>


    <div class="text-center">
      
      <a class="btn btn-secondary" href="/signin/">
        Signin
      </a>

      <a class="btn btn-dark" href="/signup/">
        Signup
      </a>
    </div>
  </section>
</main>
{% endblock%}